<!doctype html>
<html class="no-js" lang="ar" dir="rtl">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title> خطأ | صفحة غير موجودة</title>
   {{ template "loadcss.html" . }}
</head>
<body>
   {{ template "top-bar.html" . }}   
 <div class="expanded column row regtype">
<div class="row">
	 <font color="red" style="font-size:100%;">
<h3 style="" color="red"><b>خطأ</b></h3>
    </font>
</div>
<div class="row"> 
<p>هذه الصفحة غير موجودة. تأكد من الرابط.</p>
</div>

</div>
   {{ template "footer.html" . }}  
<!-- placed at the end for faster loading -->
   {{ template "loadjs.html" . }}    
</body>
</html>