<div class="top-bar-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon dark" type="button" data-toggle="responsive-menu"></button>
  <div class="menu-text title-bar-title"  style="font-size: 180% !important;" >لوحة التحكم</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
  	 <ul class="menu stacked-for-medium" style="">
      <li class="menu-text hide-for-small-only" style="font-size: 180% !important;">لوحة التحكم</li>

      <li class="bar-padding" ><a href="/admin/">التدوينات</a></li>
      <li class="bar-padding"><a href="/settings/">الإعدادات</a></li>
       <li class="bar-padding"><a target="_blank" href="/">إذهب إلى المدونة</a></li>
       <li class="bar-padding"><a href="/logout/">تسجيل الخروج</a></li>
    </ul>
  </div>
 
</div>