<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title> Error | Page not found </title>
   {{ template "loadcss.html" . }}
</head>
<body>
   {{ template "top-bar.html" . }}   
 <div class="grid-container">
<div class="grid-x">
	 <font color="red" style="font-size:100%;">
<h1 style="" color="red"><b>Error</b></h1>
    </font>
</div>
<div class="grid-x"> 
<p> Page not found. Make sure the URL is valid.</p>
</div>

</div>
   {{ template "footer.html" . }}  
   {{ template "loadjs.html" . }}    
</body>
</html>