<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head itemscope itemtype="http://schema.org/WebSite">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title> {{.Title }} </title>
   {{ template "loadcss.html" . }}
</head>
<body>
<br>
<div class="grid-container">

<div class="grid-x align-center">
<div class="cell large-shrink small-auto">
<h1>{{.Title}}  </h1>
</div>
</div>
<div class="grid-x align-center">
<div class="cell large-shrink small-auto" style="margin-top: -.5em; font-size: 90%;color: #636363;">
<span> {{.Pdate}} </span>
<span> {{.Ludate}} </span>
</div>
</div>
<div class="grid-x align-center" style="margin-top: .5em;">
<div class="cell large-shrink small-auto">
<div style="border-bottom: 1px solid #cccccc;width: 10em;"> </div>
</div>
</div>
<br>

<div class="grid-x grid-margin-x">
	  <div class="cell small-12 medium-12 large-12 post-container">
  {{.HtmlArticle}}
</div>
</div>

<br>
</div>

   {{ template "footer.html" . }}  
<!-- placed at the end for faster loading -->
   {{ template "loadjs.html" . }}    
</body>
</html>