<div class="top-bar-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon dark" type="button" data-toggle="responsive-menu"></button>
  <div class="menu-text title-bar-title"  style="font-size: 180% !important;" >Control Panel</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
  	 <ul class="menu stacked-for-medium" style="">
      <li class="menu-text hide-for-small-only" style="font-size: 180% !important;">Control Panel</li>

      <li class="bar-padding" ><a href="/admin/">Posts</a></li>
      <li class="bar-padding"><a href="/settings/">Settings</a></li>
       <li class="bar-padding"><a target="_blank" href="/">Go to Blog</a></li>
       <li class="bar-padding"><a href="/logout/">Logout</a></li>
    </ul>
  </div>
 
</div>