<!doctype html>
<html class="no-js" lang="ar" dir="rtl">
<head itemscope itemtype="http://schema.org/WebSite">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title> تدوينات تحت تصنيف: {{ .Term}} </title>
   {{ template "loadcss.html" . }}
</head>
<body>
   {{ template "top-bar.html" . }}   
<div class="grid-container fluid">
  <div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-12 large-10">
    <div class="row">
      <h2> تدوينات تحت تصنيف: {{ .Term}}  </h2>
       <div style="border-bottom: 1px solid #cccccc;width: 20%;"> </div>
    </div>
    <div class = "row" style="margin-top: 0.5em;">
     {{ .List}}   
</div>
</div>
</div>
</div>
<br>
   {{ template "footer.html" . }}  
<!-- placed at the end for faster loading -->
   {{ template "loadjs.html" . }}    
</body>
</html>